
.Section {
    align-content: flex-end;
    background:#FFFE4B;
    background-size: contain;
    height: 50px;
    width: 50%;
  }
  
  .Section-main {
    display: flex;
    justify-content: center;
    background: blue;
    margin: 1em;
  }
  
  .Button{
    margin: 1em;
  background-color: brown;
  width: 150px;
  height: 50px;

  }
  