.Section {
  background: #fffe4b;
  background-size: contain;
}

.Section-main {
  background: blue;
  margin: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
}

.Lista {
  justify-items: center;
  font-size: 2em;
}

.Button {
  font-size: 1em;
  color: white;
  margin: 0.8em;
  background-color: brown;
  width: 140px;
  height: 50px;
}

.prod {
  margin: 1em;
  width: 10em;
  background: coral;
  flex-direction: column;
}

.p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
}

.izquierda {
  display: block;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.contenedor {
  display: flex;
  flex-direction: row;
}


.uno{
background: darkkhaki;
width: 50%;

}

.dos {
  background: cornflowerblue;
  width: 50%;
}

.lista {
  background: darkgreen;
}

.itemproducto{
  display: flex;
  background: darkorchid;
  justify-content: space-between;
  flex-direction: row;
}