
.App-header {
  height:150px;
  /* background-color: #ccccccff; */
  background: linear-gradient(80deg, rgb(195, 206, 198), white,rgb(141, 151, 144));
}

.App-logo {
  height: 100%;
  margin-left: 5%;

}


.vista-mesero {

  background: royalblue;
  justify-content: space-around;
}