
.style{
  width: 10rem;
  height: 17rem;
}

.prod {
  margin: 1em;
  background: rgb(67, 214, 123);
  flex-direction: column;
}

.p {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-direction: row;
}
.plomo{
  background: linear-gradient(90deg,rgb(125, 185, 165) ,rgb(178, 185, 184))
}
.mezcla {
  background: linear-gradient(70deg, rgb(167, 240, 215), white);

}

.verde{
background: springgreen;
border-radius: 1em;
width: auto;
}

.right{
  text-align: right;
}

.tamaño{
  min-width: 50px;
}

.img{
  width: 158px;
  height: 130px;
}