$plomo: #6e6a6a;

.textos{
font-family: fantasy;
font-size: 20px;
border-color: $plomo;
font-weight: bold;
color: #ffffff;
}

.datos{
  font-family: fantasy;
  font-size: 20px;
  border-color: $plomo;
  font-weight: normal;
  color: #ccc2c2;

}
