$btnColor-verde: #00ff7f;
$plomo: #6e6a6a;

.textos{
font-family: fantasy;
font-size: 20px;
border-color: rgb(111, 110, 112);
font-weight: bold;
color: #ffffff;
}

.datos{
  font-family: fantasy;
  font-size: 20px;
  border-color: rgb(111, 110, 112);
  font-weight: normal;
  color: #ccc2c2;

}
